* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}

.card {
  position: relative;
  width: 20rem;
  height: 25rem;
  background: url(./bg.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.card:hover {
  transform: perspective(20px) rotateX(1deg) translateY(10px);
}
.bird {
  width: 88px;
  height: 125px;
  background-image: url(./bird.svg);
  background-size: auto 100%;
  background-position: -800px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -100px) scale(2.5) rotate(-20deg);
  transition: 0.5s;
}

.card:hover .bird {
  transform: translate(-80%,-400px) scale(3.5) rotate(-20deg);
  animation: fly 1s steps(10) infinite;
  animation-delay: 0.3s;
}

@keyframes fly {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -900px 0;
  }
}
